<h2>New User Form</h2>

<form method="post" action="<%= users_url %>">
  
  <input type="text" name="user[email]">
  <input type="password" name="user[password]">
  <button type="submit">Submit</button>
</form>
